<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Clover</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='src/img/bclogo.png') }}" />
</head>

<body>
    <!-- Logo do Black Clover -->
    <header class="header_logo">
        <img src="{{ url_for('static', filename='src/img/bclogo.png') }}" alt="Black Clover Logo"
            title="Black Clover Logo">
    </header>

    <main>
        <!-- Menu -->
        <nav class="menu_principal">
            <!-- Menu hamburguer(utilizado no mobile) -->
            <input type="checkbox" id="menu-toggle" class="menu-checkbox">
            <label for="menu-toggle" class="menu-icon">
                <p>&#9776</p>
            </label>
            <!--links do menu-->
            <ul class="nav-list">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('personagens') }}">Personagens</a></li>
                <li><a href="{{ url_for('adaptacoes') }}">Adaptações</a></li>
                <li><a href="{{ url_for('material_original') }}">Material Original</a></li>

                <li class="dropdown">
                    <a href="{{ url_for('universo') }}" class="dropbtn">Universo ▼</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('universo') }}#cavaleiros">Cavaleiros</a></li>
                        <li><a href="{{ url_for('universo') }}#racas">Raças</a></li>
                        <li><a href="{{ url_for('universo') }}#reinos">Reinos</a></li>
                        <li><a href="{{ url_for('universo') }}#conceitos">Conceitos</a></li>
                    </ul>
                </li>

                {% if not session.user_id %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('user.perfil') }}">Meu Perfil</a></li>

                {% if user and user.is_admin %}
                <li><a href="{{ url_for('admin.admin') }}">Painel Admin</a></li>
                {% else %}
                <li><a href="{{ url_for('fale_conosco') }}">Fale Conosco</a></li>
                {% endif %}

                <li><a href="{{ url_for('auth.logout') }}" style="color: #ff4d4d;">Sair</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- Banner do Black Clover-->
        <div class="banner">
            <img src="{{ url_for('static', filename='src/img/bcbanner.jpg') }}" alt="Black Clover Banner"
                title="Black Clover Banner">
        </div>
        <!-- Conteúdo Principal -->
        <section class="status">
            <h2>Editar Usuário</h2>

            <!-- foto atual -->
            <img src="/static/uploads/{{user.foto}}" width="120">

            <br><br>

            <form method="POST" enctype="multipart/form-data">

                <!-- nome -->
                <label>Nome:</label><br>
                <input type="text" name="nome" value="{{user.nome}}" required>
                <br><br>

                <!-- email -->
                <label>Email:</label><br>
                <input type="email" name="email" value="{{user.email}}" required>
                <br><br>

                <!-- nova foto -->
                <label>Foto:</label><br>
                <input type="file" name="foto">
                <br><br>

                <button type="submit">Salvar</button>

            </form>

            <br>

            <a href="/admin">
                <button>Voltar</button>
            </a>
        </section>
    </main>
    <!-- Rodapé -->
    <footer>
        <!-- Logo do Black Clover -->
        <div class="header_logo">
            <img src="{{ url_for('static', filename='src/img/bclogo.png') }}" alt="Black Clover Logo"
                title="Black Clover Logo">
            <br>
        </div>
        <!-- Direitos -->
        <div>
            <p>© 2026 Black Clover Fan Page. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>